@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,700');
/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-image: linear-gradient(to bottom right, #064F8D, #581226);
    background-repeat: no-repeat;
    height: auto;   
}

.no_grad{
    background: #fff;
}

header{
    height: auto;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headings{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #3B4475;
    font-size: 15px;
    line-height: normal;
    text-align: center;
}

.logo{
    margin: 10px;
}
    
.menu ul{
    display: flex;
    list-style-type: none;
    
}

.menu ul li{
    margin: 0px 30px 0px 30px;
}

menu ul li a{
display: block;
text-decoration: none;
    
    
    
}
.tix_button{
width: 219,5px;
height: 40px;

}
.squeeze_me{
padding: 2% 15% 2% 5%;
    
}
.hero_section h1{
font-family: 'Roboto', sans-serif;
color: #fff;
font-weight: bold;
font-size: 72px;

} 
.hero_section h2 {
font-family: 'Roboto', sans-serif;
color: #EA4E4F;
font-size: 60px;
font-weight: bold;
    
} 

.about_section{
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
color: #EA4E4F;
padding: 2% 60% 2% 5%; 
    
}
 
footer{
   height: 700px;
    width: 100%;
    background-color: #591F35;
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding-left: 5%;
    
}
/* speaker styling*/
.header_pic{
width: 614.7px;
height: 92px;
padding: 10%;
}
.speaker_grid{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin:auto;
    flex-direction: row;
    flex-wrap:wrap;
}       

.img-gallery {
width:13rem;
margin:.3rem;
    
}

/* sponsor styling*/

.sponsors-gallary{
width:13rem;
margin:1rem; 
}
/*schedule styling */


.schedule_content{
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 20px;
color: #591F35;
padding-left: 5%;
display:flex;
    
}
 
.day{
width: 15%;  
padding: 5% 5% 5% 5%;
    
}

/* table schedule */

.schedule{
    
}

.schedule tr{
    
}

.schedule tr td{
        display: flex;
    justify-content: normal;
    
}

/* tbd */

.schedule tr {
    border-top: 2px orange solid;
}

 












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
